<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<style>
    .one{
        color:green;
        display: inline;
    }
    .two{
        background-color: beige;
        text-decoration: underline;
    }
    .canvas{
        margin: 20px auto;
        height: 500px;
        width:500px;
        background-color: #eee;

    }
    button{
        display: block;
    }
</style>
</head>
<body>
    <h1>Vue Basics</h1> 
    <div id="app">
        <h2>{{ title }}</h2>
        <p>{{ greet('SUDIPTA') }}</p>
        <a :href="site_URL">YOUTUBE</a>
        <div :class="classes">CLASSES FROM INSTANCE</div>
        <input type="text" :value="name">
        <p>{{ name }} earns Rs:{{ wage }}</p>
        <p>I am a {{ ninja_belt }}belt NINJA</p>
        <button v-on:click="wageManupulation(100)">Increase wage by Rs:100</button>
        <button v-on:click="wageManupulation(-100)">Decrease wage by Rs:100</button>
        <button v-on:dblclick="wageManupulation(500)">Iecrease wage by Rs:500</button>
        <button v-on:dblclick="wageManupulation(-500)">Decrease wage by Rs:500</button>
        <button @click="logEvent">LOG EVENT</button>
        <div class="canvas" @mousemove="logCoords">
            {{ coords.x }}, {{ coords.y }}
        </div>
        <input type="text" @keyup="updateName" placeholder="keyup">
        <input type="text" @keypress="updateName" placeholder="keypress">
        <input type="text" v-model="ninja_belt" placeholder="v_model_check">
        <button @click.shift="logMessage">press-shift-MODIFIER</button>
        <a @click.prevent="logMessage" href="https://www.thenetninja.co.uk/">NET NINJA WEBSITE</a>
        <p v-if="showName">NINJA_CODER_SUDIPTA</p>
        <p v-else-if="showAge" >23</p>
        <button @click="toggleName">TOGGLE NAME:  {{ showName }}</button>
        <button @click="toggleAge">TOGGLE Age:  {{ showAge }}</button>
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
        <div v-for="(ninja, index) in ninjas">
            {{ index+1 }}
            <p>{{ ninja.name }}</p>
            <p>{{ ninja.age }}</p>
            <p>{{ ninja.belt }}</p>
        </div>
    </div>  

    <script src="app.js"></script>
</body>
</html>